##########################################################
# Variables that should change per event
##########################################################

# Person to invite
export EMAIL=

# Resource Group
export RESOURCE_GROUP_NAME=

# Cluster Name, find it with "ibmcloud ks clusters"
export CLUSTER_NAME=

# Account ID, find it with "ibmcloud account show"
export ACCOUNT_ID=

# Your IBMC Cloud API key, create one with "ibmcloud iam api-key-create NAME"
export APIKEY=